@font-face {
    font-family: 'Flow Circular';
    src: url('assets/fonts/Flow_Circular/FlowCircular-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Flow Circular', sans-serif;
    background: black;
    color: #B3B3B3;
}

img {
    object-fit: cover;
}

#main-icon {
    filter: grayscale(100%) brightness(200%);
    height: 4vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 1vh;
    padding: 0.7vh 1vw;

    img {
        height: 3.5vh;
    }

    a {
        display: flex;
        height: 10vh;
        text-decoration: none;
        color: #232323;
        width: fit-content;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }

    div:nth-child(2) {
        margin-top: -0.7vh;
        gap: 0.4vw;
        height: 4vh;
        margin-left: 1vw;

        a {
            background: #1F1F1F;
            border-radius: 5vw;
            padding: 0.4vw;
            height: fit-content;
            color: #B3B3B3;
        }

        a:nth-child(1):hover {
            border: solid;
            border-color: #1F1F1F;
            border-width: 1px;

            >img {
                height: 3.6vh;
            }
        }

        .search {
            display: flex;
            justify-content: space-between;
            height: 3.5vh;

            >div {
                align-items: center;
                font-size: 3vh;
                color: #7C7C7C;
                gap: 3px;
            }

            div:nth-child(1) {
                input {
                    background: none;
                    border: none;
                    height: 2vh;
                    outline: none;
                    font-weight: 100;
                    font-size: 1.7vh;
                    align-items: center;
                    width: 20vw;
                }

                input:hover {
                    outline: none;
                }

                img:nth-child(1) {
                    height: 4vh;
                    filter: invert(40%);
                }

                img:nth-child(1):hover {
                    height: 4vh;
                    cursor: pointer;
                    filter: none;
                }
            }

            img:nth-child(3) {
                height: 2.5vh;
            }
        }

        .search:hover {
            border: solid;
            border-color: #404040;
            border-width: 1px;
            background: #2A2A2A;
        }

        div:nth-last-child(1) {

            img {
                margin: 1vw 0.5vw;
                height: 2.2vh;
            }
        }


    }

    div:nth-last-child(1) {
        a {
            margin-top: -0.7vh;
            color: #B3B3B3;
            font-size: 1.5vh;
            font-weight: bold;
            text-wrap: nowrap;
            justify-content: center;
            align-items: center;
            padding: 1vw;
            width: 3.8vw;
            height: 1vh;
        }

        >a:nth-child(2) {
            margin-right: -1vw;
            color: black;
            background: white;
            border-radius: 5vw;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    padding: 0.5vw;
    display: flex;

    a {
        border-radius: 0.5vw;
        height: 2vw;
        width: 97vw;
        padding: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        color: white;
        font-size: 0.8vw;
        align-items: center;
        background: linear-gradient(90deg, rgba(175, 40, 150, 1) 0%, rgba(80, 155, 245, 1) 100%);

        strong {
            font-size: 0.7vw;
            font-weight: 800;
        }
    }

    button {
        font-size: 0.9vw;
        text-wrap: nowrap;
        font-weight: bold;
        border-radius: 2vw;
        border: none;
        width: 9vw;
        height: 6vh;
    }

    button:hover {
        cursor: pointer;
        background: #d6d6d6;
        width: 9.1vw;
        height: 6.1vh;
        font-size: 1vw;
    }
}

.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 2.5vh;
    background: #121212;
    justify-content: space-between;

    h1 {
        font-size: 2.5vw;
        width: 18vw;
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    button {
        width: 18vw;
        border: solid;
        border-radius: 1.5vw;
        height: 6vh;
        font-size: 0.8vw;
        font-weight: bold;
    }

    p {
        color: #B3B3B3;
    }

    a {
        color: white;
    }

    section:nth-child(3) {
        font-weight: 700;
        width: 18vw;
        gap: 1vh;
        font-size: 0.7vw;

        >input {
            background: black;
            border: solid;
            border-color: #7C7C7C;
            border-width: 0.1vw;
            border-radius: 0.1vw;
            height: 4vh;
            padding: 0vw 0.5vw;
            color: #B3B3B3;
            font-size: 0.8vw;
        }

        >button {
            border: solid;
            background: #1ED760;
        }
    }

    p:nth-last-child(1) {
        position: absolute;
        bottom: 0;

    }
}