@font-face {
  font-family: "Flow Circular";
  src: url("assets/fonts/Flow_Circular/FlowCircular-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Flow Circular", sans-serif;
  background: black;
  color: #B3B3B3;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

#main-icon {
  filter: grayscale(100%) brightness(200%);
  height: 4vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 1vh;
  padding: 0.7vh 1vw;
}
header img {
  height: 3.5vh;
}
header a {
  display: flex;
  height: 10vh;
  text-decoration: none;
  color: #232323;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
header div {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
header div:nth-child(2) {
  margin-top: -0.7vh;
  gap: 0.4vw;
  height: 4vh;
  margin-left: 1vw;
}
header div:nth-child(2) a {
  background: #1F1F1F;
  border-radius: 5vw;
  padding: 0.4vw;
  height: -moz-fit-content;
  height: fit-content;
  color: #B3B3B3;
}
header div:nth-child(2) a:nth-child(1):hover {
  border: solid;
  border-color: #1F1F1F;
  border-width: 1px;
}
header div:nth-child(2) a:nth-child(1):hover > img {
  height: 3.6vh;
}
header div:nth-child(2) .search {
  display: flex;
  justify-content: space-between;
  height: 3.5vh;
}
header div:nth-child(2) .search > div {
  align-items: center;
  font-size: 3vh;
  color: #7C7C7C;
  gap: 3px;
}
header div:nth-child(2) .search div:nth-child(1) input {
  background: none;
  border: none;
  height: 2vh;
  outline: none;
  font-weight: 100;
  font-size: 1.7vh;
  align-items: center;
  width: 20vw;
}
header div:nth-child(2) .search div:nth-child(1) input:hover {
  outline: none;
}
header div:nth-child(2) .search div:nth-child(1) img:nth-child(1) {
  height: 4vh;
  filter: invert(40%);
}
header div:nth-child(2) .search div:nth-child(1) img:nth-child(1):hover {
  height: 4vh;
  cursor: pointer;
  filter: none;
}
header div:nth-child(2) .search img:nth-child(3) {
  height: 2.5vh;
}
header div:nth-child(2) .search:hover {
  border: solid;
  border-color: #404040;
  border-width: 1px;
  background: #2A2A2A;
}
header div:nth-child(2) div:nth-last-child(1) img {
  margin: 1vw 0.5vw;
  height: 2.2vh;
}
header div:nth-last-child(1) a {
  margin-top: -0.7vh;
  color: #B3B3B3;
  font-size: 1.5vh;
  font-weight: bold;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  width: 3.8vw;
  height: 1vh;
}
header div:nth-last-child(1) > a:nth-child(2) {
  margin-right: -1vw;
  color: black;
  background: white;
  border-radius: 5vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
  padding: 0.5vw;
  display: flex;
}
footer a {
  border-radius: 0.5vw;
  height: 2vw;
  width: 97vw;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-size: 0.8vw;
  align-items: center;
  background: linear-gradient(90deg, rgb(175, 40, 150) 0%, rgb(80, 155, 245) 100%);
}
footer a strong {
  font-size: 0.7vw;
  font-weight: 800;
}
footer button {
  font-size: 0.9vw;
  text-wrap: nowrap;
  font-weight: bold;
  border-radius: 2vw;
  border: none;
  width: 9vw;
  height: 6vh;
}
footer button:hover {
  cursor: pointer;
  background: #d6d6d6;
  width: 9.1vw;
  height: 6.1vh;
  font-size: 1vw;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 2.5vh;
  background: #121212;
  justify-content: space-between;
}
.sign-container h1 {
  font-size: 2.5vw;
  width: 18vw;
  text-align: center;
}
.sign-container section {
  display: flex;
  flex-direction: column;
}
.sign-container button {
  width: 18vw;
  border: solid;
  border-radius: 1.5vw;
  height: 6vh;
  font-size: 0.8vw;
  font-weight: bold;
  cursor: pointer;
}
.sign-container p {
  color: #B3B3B3;
}
.sign-container section:nth-child(3) {
  font-weight: 700;
  width: 18vw;
  gap: 1vh;
  font-size: 0.7vw;
}
.sign-container section:nth-child(3) input {
  background: #121212;
  border: solid;
  border-color: #7C7C7C;
  border-width: 0.1vw;
  border-radius: 0.3vw;
  height: 5vh;
  padding: 0vw 0.5vw;
  color: #B3B3B3;
  font-size: 0.8vw;
}
.sign-container section:nth-child(3) > input:hover {
  border-color: white;
}
.sign-container section:nth-child(3) > button {
  border: solid;
  background: #1ED760;
}
.sign-container section:nth-child(3) > button:hover {
  background: #51cf7d;
}
.sign-container .partition {
  padding: 1.5vw 0vw;
  font-size: 0.7vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18vw;
  text-align: center;
  align-items: center;
  gap: 0.5vw;
}
.sign-container .partition > #line {
  content: " ";
  background: #B3B3B3;
  flex: 1;
  height: 1px;
}
.sign-container .log-alts {
  gap: 0.5vw;
}
.sign-container .log-alts button {
  color: white;
  background: #121212;
  border-color: #B3B3B3;
  border-width: 0.1vw;
  display: flex;
  align-items: center;
  padding: 0vw 1vw;
  height: 5vh;
}
.sign-container .log-alts button img {
  height: 2.5vh;
}
.sign-container .log-alts button > div {
  width: 20vw;
}
.sign-container .log-alts > button:nth-last-child(1) img {
  filter: grayscale(80);
}
.sign-container .log-alts button:hover {
  border-color: white;
}
.sign-container > #line {
  content: " ";
  padding: 1px;
  background: #404040;
  margin: 1vw 0vw;
  width: 18vw;
}
.sign-container p:nth-last-child(2) {
  font-size: 0.8vw;
}
.sign-container p:nth-last-child(2) a {
  color: white;
}
.sign-container p:nth-last-child(1) {
  position: absolute;
  bottom: 0;
  font-size: 0.7vw;
  width: 18vw;
  text-align: center;
}
.sign-container p:nth-last-child(1) a {
  color: #B3B3B3;
}

.gradient-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(42, 42, 42) 0%, rgb(0, 0, 0) 100%);
  height: 91.7vh;
}
.gradient-body > div {
  background: #121212;
  width: 38vw;
  border-radius: 0.5vw;
  gap: 0.5vw;
  padding: 2vw 0vw;
}
.gradient-body > div a {
  text-decoration: underline;
}
.gradient-body > div a:hover {
  color: #1ED760;
  cursor: pointer;
}
.gradient-body > div h1 {
  font-size: 1.5vw;
}
.gradient-body > div input {
  background: #121212;
  border: solid;
  border-color: #7C7C7C;
  border-width: 0.1vw;
  border-radius: 0.3vw;
  height: 5vh;
  padding: 0vw 0.5vw;
  color: #B3B3B3;
  font-size: 0.8vw;
}
.gradient-body > div .inputs {
  gap: 0.5vh;
  font-weight: 600;
  font-size: 0.7vw;
}
.gradient-body > div .inputs > input {
  margin-bottom: 1vh;
  font-weight: 600;
}
.gradient-body > div .inputs > div {
  display: flex;
  justify-content: end;
}
.gradient-body > div .inputs > div img {
  position: relative;
  height: 2.5vh;
  top: -5.5vh;
  right: 1vw;
  filter: grayscale(100);
}
.gradient-body > div .inputs > div img:hover {
  scale: 1.1;
  cursor: pointer;
}
.gradient-body > div .inputs button {
  margin-bottom: 1vh;
  background: #1ED760;
}
.gradient-body > div .inputs button:hover {
  scale: 1.1;
  background: #51cf7d;
}
.gradient-body > div .log-alts button {
  border-width: 1px;
  background: none;
  border-color: #7C7C7C;
}
.gradient-body > div .log-alts button:hover {
  border-color: white;
  background: none;
}
.gradient-body > div #line {
  background: #2A2A2A;
  width: 28vw;
}
.gradient-body > div > a:nth-last-child(3) {
  font-size: 0.8vw;
}
.gradient-body > div > p:nth-last-child(1) {
  display: flex;
  gap: 0.2vw;
  justify-content: center;
  align-items: center;
  background: #121212;
  height: 4vw;
  width: 100vw;
  margin: 0;
}
.gradient-body > div > p:nth-last-child(1) a:hover {
  color: #B3B3B3;
}/*# sourceMappingURL=style.css.map */